#include <stdio.h>
<% headers.to_a.each do |header| -%>
#include <<%= header -%>>
<% end %>

int conftest_const = (int)(sizeof(<%= type %>));

int main(){
  printf("%d\n", conftest_const);
  return 0;
}
